body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(216, 202, 202);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#converter {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(45, 8, 255, 0.1);
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.text-result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

#result {
    color: #4caf50;
    font-size: 24px;
    margin-top: 10px;
}